<br><br><div class="container">
<div class="row">
<div class="col-md-6 col-12 indexmain" style="background-color:rgb(232, 235, 241)"> 
<h1>Learn and Share</h1>
<h3>Effective learning together</h3>
 <div class="buttons">  <button class="btn btn-success"><a href="signup.hbs">Signup</a></button>
    <button class="btn btn-success">LogIn</button></div>
</div>
<div class="col-md-6 col-12">
    <img src="image/sasmita2.png" height="430px" width="100%" alt="book">
</div>

</div>
</div>
