<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

.skills {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; height:20px;background-color: #04AA6D;}
.css {width: 80%;height:20px; background-color: #2196F3;}
.js {width: 65%;height:20px; background-color: #f44336;}
.php {width: 60%;height:20px; background-color: #808080;}
</style>
</head>
<body></body>
<br><br><div class="container" id="ourservices " style=" background-color:#aacfed; height:430px">
<center><h1 style="font-family: 'Courier New', Courier, monospace; font-weight:bold"> My Skill</h1></center>
<center><h4 style="font-family: 'Courier New', Courier, monospace;"> increase your knowlege with us</h4>
</center><br><br>
  <div class="skills html">HTML</div>
<br>  <div class="skills css">CSS</div>

<br>
  <div class="skills js">JS</div>

<br>
  <div class="skills php">PHP</div>
</div>
</body>
</html>
