<head>
  <style>
    ul,li,a{
    font-size: 20px;
    color:white;
    }
    a:hover{
background-color: antiquewhite;
    }
   
   
  </style>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-12 mt-5px ">
       
<nav class="navbar navbar-expand-lg navbar-light  text-white bg-dark fixed-top">
  <a class="navbar-brand" href="/"><img src="image/sasmita.png" height="60px" width="100px" alt="Pecnote"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto fw-bold">
      <li class="nav-item active">
        <a class="nav-link ml-auto text-white" href="/">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-auto text-white" href="#aboutus">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link ml-auto text-white" href="#contactus">Contact Us</a>
        </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#ourservices ">OurServices</a>
      </li>
    </ul>
    </div>
</nav>
</div>
    </div>
</div>
  